.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listtwo {
  min-width: 400px;
  margin-top: 100px;
  font-size: 22px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}
